<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Page Replacement</title>
</head>
<body>
    <div class="wrapper">
        <h1>Page Replacement Simulator</h1> 
        <form action="/" method="POST" enctype="multipart/form-data" id="form-data">
                <div class="algorithm">
                    <label for="algorithm">Algorithm:</label>
                    <select id="algorithm" name="algorithm" class="form-interactives">
                        <option value="fifo">First-In-First-Out</option>
                        <option value="lru">Least Recently Used</option>
                        <option value="opt">Optimized</option>
                    </select>
                </div>
                <div id="request">
                    <label for="request-input">Request Input:</label>
                    <input type="text" class="data-form" id="algo-data-form" name="data" placeholder="Eg. 1 2 3 4" value="{{org_data}}">
                    <input type="number" class="data-form" name="frames" placeholder="Frame" value="{{org_frames}}">
                </div>
                <div class="submit">
                    <input type="submit" id="submit" value="Simulate" class="form-interactives">
                </div>
            </form>
            <div class="statement">
                <br>
                Current Algorithm: {{algorithm}}
                <br>
                HIT: {{HIT}} ({{HIT_RATIO}}%)
                <br>
                MISS: {{MISS}} ({{MISS_RATIO}}%)
            </div>
            <div class="table">
                <table id="table">
                    <tr>
                        {% for header in headings %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                    {% for row in data %}
                        <tr>
                            {% for cell in row %}
                            <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <script>
            document.addEventListener("DOMContentLoaded", colorHitOrMiss);

            function colorHitOrMiss(event) {

                var table = document.getElementById("table");
                var rows = table.rows;
                
                rows[rows.length - 1].style.display = "none";

                for (var i = 0; i < rows[0].cells.length; i++) {
                    var headerCell = rows[0].cells[i];
                    var flagCell = rows[rows.length - 1].cells[i]

                    for (var j = 1; j < rows.length; j++) {
                        var currentCell = rows[j].cells[i]
                        
                        if (currentCell.innerHTML === headerCell.innerHTML) {
                            if (flagCell.innerHTML == 1) {
                                currentCell.style.backgroundColor = "green"
                            } else {
                                currentCell.style.backgroundColor = "red"
                            }
                        }

                    }
                }
            }

         </script>
    </div>
</body>
</html>